.message {
    background-color: #a1aef5;
    width: 400px;
    border-radius: 3%;
    margin-top: 50px;
    margin-bottom: 10px;
}
  
.message-text {
    color: white;
}

.message-liked {
    color:red;
}