.message-input-edit {
    padding-bottom: 40%;
    margin-left: 50px;
    width: 95%;
}

.edit-label {
    margin-left: 45%;
}

.link-update {
    text-decoration: none;
}

.link-close {
    text-decoration: none;
    margin-left: 45%;
}

.button-close {
    background-color: blue;
}