.col-2 {
    margin-top: 15px;
    margin-bottom: -115px;
    margin-left: 50px;
}

.btn-success {
    width: 130px;
    height: 55px;
    background-color: rgb(89, 89, 230);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-success:hover {
    background-color: rgb(210, 210, 243);
}

