.header-last-message-date {
    margin-left: 15px;
}
  
.header-users-count {
    margin-left: 15px;
}
  
.header-messages-count {
    margin-left: 40%;
}

.header-title {
    text-decoration: none;
    color: white;
}