.name {
    margin-right: 5px;
}

.surname {
    margin-right: 5px;
}

.email {
    margin-right: 5px;
}

.password {
    margin-right: 5px;
}

.textInput {
    padding-bottom: 20px;
}

.text-button-add {
    text-decoration: none;
}

.link-add {
    margin-top: 75px;
    margin-left: -385px;
    position: absolute;
}

.btn-add {
    background-color: rgb(89, 89, 230);
    border: none;
    height: 50px;
    width: 100px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: rgb(210, 210, 243);
}

.edit {
    margin-left: 30%;
    margin-top: 5%;
}

.logo-text {
    margin-top: -40px;
    text-align: center;
    position: absolute;
    margin-left: 15%;
    font-size: 25px;
}