.container {
    margin-top: 9%;
    margin-bottom: -5%;
}

.col-8 {
    border: solid 2px;
    padding: 15px;
    background-color: #a1aef5;
    color: white;
    width: 55%;
    margin-left: 50px;
}

.btn {
    margin-left: 45%;
    width: 85px;
    height: 35px;
    position: relative;
    background-color: rgb(89, 89, 230);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: rgb(210, 210, 243);
}

.btn-outline-dark {
    margin-left: 5px;
}

.col-4 {
    margin-top: -50px;
}

.btn-success {
    margin-bottom: 20px;
}